@font-face { font-family: Delicious; src: url('Delicious-Roman.otf'); } 
@font-face { font-family: Delicious; font-weight: bold; src: url('Delicious-Bold.otf'); }


/*-------------- INDEX.HTML -----------------*/
html,body{
	margin:0px auto;
	padding:0px;
	min-height:100%;
	max-width: 1366px;
	text-align: center;
	box-sizing:border-box;
	z-index:0;
	box-sizing:border-box;
	font-family: Helvetica Neue,helvetica,arial,sans-serif;
	opacity: 1;
	transition: 0.7s opacity;
}

body.fade {
    opacity: 0;
    transition: none;
}

			/* HAMBURGER ICON AND MENU*/


.hamburgerContainer{
	width:24px;
	height: 24px;
	cursor:pointer;
	text-align:;
	text-align: center;
	float:right;
	position: relative;
	margin-left:20px;
	transition: all 0.2s ease-in-out 0s;
}

.hamburgerContainer:hover{
	transform:rotate(90deg);
	transform-origin: center;
	transition: all 0.2s ease-in-out 0s;
}

.hamburger{
	font-size:48px;
	position: absolute;
	top:-62px;
	left:1px;
}

.hamburger:hover{
	color:#686868;
	transition: color 0.2s;
}


.hamburgerContainerGone{
	width:24px;
	height: 24px;
	cursor:pointer;
	text-align:;
	text-align: center;
	float:right;
	position: relative;
	margin-left:20px;
	transition: all 0.2s ease-in-out 0s;
	transform:rotate(540deg);
	transform-origin: center;
	transition: all 0.5s ease-in-out 0s;
}

#menuoverlay{
	display: block;
	height:100%;
	position:absolute;
	top:0;
	right:0;
	margin:0px auto;
	overflow:hidden;
	transform:translateX(800px);
	transition: all 0.5s ease-in-out 0s;
}


#menuoverlay.open{
	width:100%;
	display: block;
	height:100%;
	position: absolute;
	top:0px;
	left:0px;
	z-index: 4;
	margin:0px auto;
	overflow:hidden;
	transform:translateX(0px);
	transition: all 0.5s ease-in-out 0.7s;
}

#overlay{
	background: #C16F6F;
	width:100%;
	height:100%;
	margin:0px auto;
	opacity:1;
	z-index:-5;
	position: fixed;
	top:0;
	left:50000;
	transition:opacity 10ms linear;
	transform:translateX(10000px);
	transition: all 1s ease-in-out 0s;
}

#overlay.open{ 
	opacity:0.9;
	z-index:3;
	transform:translateX(0px);
	transition: translateX() 0.5s;
	transition: all 1s ease-in-out 0s;

}

#openmenu{
	z-index:3;
	width: 100%;
	height:300px;
	margin:0px auto;
	position: relative;
	top:10px;
	right:50px;
	text-align: right;
	transform:translateX(00px);
	transition: all 1s ease-in-out 0s;
}

#openmenu ul{
	font-weight: bold;
	font-size:36px;
	font-family: Helvetica Neue,helvetica,arial,sans-serif;
}

#openmenu ul li{
list-style-type: none;
line-height: 1.8;
}

#openmenu ul li a, #openmenu ul li a:visited{
	text-decoration: none;
	list-style-type: none;
	color:#f4f4f4;
	-webkit-transition: color 0.5s;
}

#openmenu ul li a:hover{

	text-decoration: none;
	list-style-type: none;
	color:#842F30;
	opacity: 1;
	-webkit-transition: color 0.5s;
}

			/* HEADER AND NAVIGAITON */

header{
	height:50px;
	width: 100%;
	background: #fff;
	top:0px;
	line-height: 0.3;
	text-align: left;
	margin:0px;
	padding:0px;
}

header h1 {
	font-family: "HelveticaNeue-CondensedBold",helvetica,arial,sans-serif;
	color: black;
	font-size:48px;
	padding-top:20px;
	padding-left:50px;
}

header h2 {
	font-family: Helvetica Neue,helvetica,arial,sans-serif;
	color: #C16F6F;
	font-size: 24px;
	font-weight: normal;
	padding-left:50px;
}

nav{
	position: relative;
	top:-35px;
}

#navbar{
	text-decoration: none;
	list-style-type: none;
	top:75px;
	right:10px;
	padding-right:30px;
	text-align: right;
}


#navbar li{
	display: inline-block;
	text-decoration: none;
	list-style-type: none;
	font-family: Helvetica Neue,helvetica,arial,sans-serif;
	color: #B9B9B9;
	font-size: 18px;
	font-weight: normal;
	padding:10px;
}


#navbar li a, #navbar li a:visited{
	color:#B9B9B9;
	text-decoration: none;
	transition: color 0.2s;
}

 #navbar li a:hover{
	color:#C16F6F;
	transition: color 0.2s;
}

			/* MAIN CONTENT */

.container{
	text-align: center;
	margin:0px auto;
	height:442px;
	overflow:hidden;
}

#showcase{
	width:100%;
	text-align: center;
	margin:0;
}


#showcase img {
	width:100%;
	position: relative;
	bottom:50px;
}

.slideImage{
		display:none;
		position: relative;
}



#showcase .imageheader{
	text-align: center;
	position: absolute;
	top:200px;
	left:50%;
	 transform: translate(-50%, -50%);
	 -webkit-transform: translate(-50%, -50%);
	color:#F5F5F5;
	font-family: "HelveticaNeue-CondensedBold",helvetica,arial,sans-serif;
	font-size:64px;
	margin:auto;
}

#showcase .imagetext{
	position: absolute;
	top:350px;
	left:50%;
	transform: translate(-50%, -50%);
	 -webkit-transform: translate(-50%, -50%);
	color:#F5F5F5;
	font-family: Helvetica Neue,helvetica,arial,sans-serif;
	font-size:32px;
	font-style: italic;
	font-weight:lighter;
	margin:auto;
}



.linebreak{
	height: 2px;
	background:#D1D1D1;
	width:80%;
	margin:30px auto 30px auto;
	position: relative;
}

.main-content{
	width:100%;
	height:270px;
	position: relative;
	margin:0px auto;
	display: flex;
	justify-content: space-between;
	flex: 1 1 160px;
}

.clickableContainer{
	height:100%;
	width:400px;
	background: #F1F1F1;
	text-align: center;
	transition: background-color 0.5s;
	cursor:pointer;
	position: relative;
}


.clickableContainer:hover{
	background:#454545;
	color:#F1F1F1;
	transition: background-color 0.5s;
	cursor:pointer;
}

.caption{
	height:50px;
	line-height: 1.5;
	margin:0 auto;
}



.contentImage{
	height:200px;
	overflow: hidden;
}

 .contentImage img{
 	width:100%;
	transition: opacity 1s;
}

			/* ------FOOTER-----*/

footer{
	color:#F5F5F5;
	font-family: "HelveticaNeue-CondensedBold",helvetica,arial,sans-serif;
	font-size:16px;
	font-weight:lighter;
	text-align: center;
	background: #C16F6F;
	width: 100%;
	margin:0px auto;
	height:50px;
	position: relative;
	bottom:0px;
}

footer ul li {
	display: inline-block;
	margin:left:50px;
	margin-right:50px;
}

footer ul li a {
	color:#fff;
	text-decoration: none;
	transition: color 0.2s;
}

footer ul li a:hover {
	color:#842F30;
	text-decoration: none;
	transition: color 0.2s;
}


/* MOBILE AND RESPONSIVE */

@media (max-width:768px){

	#navbar{
		display: none;
	}

	.container{
		height:200px;
	}

	#showcase img {
		width:100%;
		position: relative;
		bottom:25px;
	}

	#showcase .imageheader{
		opacity:0;
	}
	#showcase .imagetext{
		opacity:0;
	}

	#searchbarposition{
		display: none;
	}


	header{
		padding-top:36px;
		height:80px;
	}

	header h1{
		width:75%;
		font-size: 24px;
		line-height:1;
		margin:0px;
	}

	header h3{
		width:75%;
		font-size: 14px;
		line-height:1;
		margin:0px;
	}

	.hamburgerContainer{
		position: absolute;
		float:right;
		top:0px;
		right: -20px;
	}
	.main-content{
		width:100%;
		margin:auto;
	}
	.circle{
		width:10px;
		height:10px;
	}
	#circles{
		margin:10px auto 10px auto;
	}
}

	/* ------------------- FACILITIES PAGE ------------- */

.sub-head-block{
	width:100%;
	height:250px;
	overflow: hidden;
	position: relative;
	max-width:100%;
}

.sub-head-block img{
	width:100%;
	min-height: 100%;
	position: relative;
	top:-50px;
	z-index:1;
}

.sub-head-block h1{
	text-align: center;
	font-family: "HelveticaNeue-CondensedBold",helvetica,arial,sans-serif;
	font-size:72px;
	color:#F5F5F5;
	z-index: 3;
	position: absolute;
	margin-left:50%;
	top:20px;
	left:-160px;
	line-height: 1.3;
	width:320px;
}

.filter{
	background: #942D2D;
	opacity:0.5;
	width:100%;
	height:100%;
	position: absolute;
	left:0px;
	top:0px;
	z-index: 2;
}

.facilities-intro{
	height:250px;
	width:100%;
}

.facilities-intro p {
	width:75%;
	padding-top: 90px;
	margin:0px auto;
	font-family: HelveticaNeue-light,helvetica,sans-serif;
	font-weight: lighter;
	font-size:24px;
	color:#454545;
}



