html{
	margin:0px;
	padding:0px;
	min-width: 100%;
    width: 100%;
    max-width: 100%;
}
body{
	margin:0px;
	padding:0px;
	width:100%;
	min-height:100%;
	max-width: 1920px;
	text-align: center;
	box-sizing:border-box;
	z-index:0;
}





#menuoverlay{
	width:100%;
	height:100%;
	position:absolute;
	top:10px;
	z-index: 1;
	margin:0px auto;
	overflow:hidden;
}

#menuoverlay .open{
	width:100%;
	height:100%;
	position: absolute;
	top:0px;
	left:0px;
	z-index: 1;
	margin:0px auto;
	overflow:hidden;
}

#overlay{
	background: #C16F6F;
	width:100%;
	height:100%;
	margin:0px auto;
	opacity:0.9;
	z-index:1;
	position: relative;
}

#openmenu{
	z-index:3;
	width: 100%;
	height:300px;
	margin:0px auto;
	position: fixed;
	top:10px;
	right:30px;
	text-align: right;
}

#openmenu ul{
	font-weight: bold;
	font-size:36px;
	font-family: Helvetica Neue,helvetica,arial,sans-serif;
}

#openmenu ul li{
list-style-type: none;
line-height: 1.8;
}

#openmenu ul li a, #openmenu ul li a:visited{

	text-decoration: none;
	list-style-type: none;
	color:#f4f4f4;
	-webkit-transition: color 0.5s;
}
#openmenu ul li a:hover{

	text-decoration: none;
	list-style-type: none;
	color:#842F30;
	opacity: 1;
	-webkit-transition: color 0.5s;
}







header{
	height:190px;
	width: 100%;
	background: #fff;
	line-height: 0.3;
	text-align: left;
	max-width: 1920px;
	margin:0px;
	padding:0px;
	padding-top: 42px;

}

header h1 {
	font-family: "HelveticaNeue-CondensedBold",helvetica,arial,sans-serif;
	color: #262626;
	font-size:48px;
	padding-left:50px;
}

header h3 {
	font-family: Helvetica Neue,helvetica,arial,sans-serif;
	color: #C16F6F;
	font-size: 24px;
	font-weight: normal;
	padding-left:50px;
}

#searchbarposition{
	float:right;
	position: relative;
	margin-right:50px;
	margin-bottom: 20px;
	margin-top:-88px;
	max-width: 1920px;
}

#searchbarcontainer{
	width:270px;
	height:36px;
	display: inline-block;
	margin:0px;
}

#searchbar{
	width:70%;
	height:100%;
	background:#f4f4f4;
	padding: 0px 20px 0px 0px ;
	margin:0px;
	border:none;
	font-family: Helvetica Neue,helvetica,arial,sans-serif;
	color: #B9B9B9;
	font-size: 14px;
	text-align: right;
}

#searchbutton{
	height:100%;
	background: #842F30;
	color:#fff;
	width:20%;
	text-align: center;
	border: none;
	font-size:14px;
	margin:0px;
}



#navbar{
	display: inline-block;
	text-decoration: none;
	list-style-type: none;
	float: right;
	max-width: 1920px;
	margin-right:20px;
}

#navbar li{
	display: inline-block;
	text-decoration: none;
	list-style-type: none;
	font-family: Helvetica Neue,helvetica,arial,sans-serif;
	color: #B9B9B9;
	font-size: 18px;
	font-weight: normal;
	padding:10px;


}


#navbar li a, #navbar li a:visited{
	color:#B9B9B9;
	text-decoration: none;
	transition: color 0.2s;
}

 #navbar li a:hover{
	color:#686868;
	transition: color 0.2s;
}



.hamburger{
	width:24px;
	height:2px;
	background: #262626;
	margin-top:5px;
	margin-bottom:5px;
	position: relative;
	top:0px;


}

.hamburgerContainer{
	height:24px;
	position: relative;
	top:15px;
	cursor:pointer;
	padding:0px;
	margin:0px;
}

.hamburgerContainerHover{
	height:24px;
	position: relative;
	top:15px;
	cursor:pointer;
	padding:0px;
	margin:0px;
	opacity:0;
	transition: opacity 1s;

}



.container{
	text-align: center;
	margin:10px 0px 0px 0px;
	position: relative;
	height:442px;
	overflow:hidden;
}

#showcase{

	width:100%;
	text-align: center;
	margin:0;
}

#showcase img {
	width:100%;
	position: relative;
	bottom:50px;
}



#showcase .imageheader{
	position: absolute;
	bottom:45%;
	left:50%;
	 transform: translate(-50%, -50%);
	 -webkit-transform: translate(-50%, -50%);
	color:#F5F5F5;
	font-family: "HelveticaNeue-CondensedBold",helvetica,arial,sans-serif;
	font-size:64px;
	margin:auto;

}

#showcase .imagetext{
	position: absolute;
	bottom:40%;
	left:55%;
	transform: translate(-50%, -50%);
	 -webkit-transform: translate(-50%, -50%);
	color:#F5F5F5;
	font-family: Helvetica Neue,helvetica,arial,sans-serif;
	font-size:32px;
	font-style: italic;
	font-weight:lighter;
	margin:auto;


}


#circles{
	text-align: center:;
	display: inline-block;
	margin-top:40px;
	margin-bottom:40px;

}

.circle{
	height:28px;
	width:28px;
	border-radius: 14px;
	background: #D1D1D1;
	float:left;
	margin:3px;
}

.circle:hover{
	background: #D09E9E;
}

.linebreak{
	height: 2px;
	background:#D1D1D1;
	width:100%;
	margin:auto;
}

.main-content{
	width:100%;
	margin:auto;
	display: flex;
	flex-direction: row;
}

.clickableContainer{
	height:280px;
	width:545px;
	background: #F1F1F1;
	overflow: hidden;
	text-align: center;
	margin:36px 0px 36px 0px;
	flex: 1 1 0px;
	transition: background-color 0.5s;
	cursor:pointer;
}


.clickableContainerHover{
	height:280px;
	width:545px;
	overflow: hidden;
	text-align: center;
	margin:36px 0px 36px 0px;
	flex: 1 1 0px;
	background:#454545;
	transition: background-color 0.5s;
	cursor:pointer;
}


.clickableContainer .contentImage,.clickableContainerHover .contentImage{
	height:227px;
	width: 100%;
	overflow: hidden;
	overflow:hidden;
}
.clickableContainer .contentImage img,.clickableContainerHover .contentImage img{
	width:100%;
	transition: opacity 1s;

}


.clickableContainer .caption, .clickableContainerHover .caption{
	font-size:100%;
	font-family: "HelveticaNeue-CondensedBold",helvetica,arial,sans-serif;
	color:#454545;
	transition: background-color 0.5s;
	margin-bottom:10px;
}
.clickableContainerHover .captionHover {
	font-size:100%;
	font-family: "HelveticaNeue-CondensedBold",helvetica,arial,sans-serif;
	color:#F1F1F1;
	transition: color 0.5s;
}


/* ------FOOTER-----*/

footer{
	color:#F5F5F5;
	font-family: "HelveticaNeue-CondensedBold",helvetica,arial,sans-serif;
	font-size:16px;
	font-weight:lighter;
	text-align: center;
	background: #B9B9B9;
	width: 100%;
	margin:0;


}

footer ul li {
	display: inline-block;
	padding:25px;
}
footer ul li a {
	color:#fff;
	text-decoration: none;
	transition: color 0.2s;
}

footer ul li a:hover {
	color:#842F30;
	text-decoration: none;
	transition: color 0.2s;
}