@font-face { font-family: Delicious; src: url('Delicious-Roman.otf'); } 
@font-face { font-family: Delicious; font-weight: bold; src: url('Delicious-Bold.otf'); }


/*-------------- INDEX.HTML -----------------*/
html,body{
	margin:0px auto;
	padding:0px;
	min-height:100%;
	max-width: 1366px;
	text-align: center;
	box-sizing:border-box;
	z-index:0;
	box-sizing:border-box;
	font-family: Helvetica Neue,helvetica,arial,sans-serif;
	opacity: 1;
	transition: 0.7s opacity;
}

body.fade {
    opacity: 0;
    transition: none;
}

			/* HAMBURGER ICON AND MENU*/


.hamburgerContainer{
	width:24px;
	height: 24px;
	cursor:pointer;
	text-align:;
	text-align: center;
	float:right;
	position: relative;
	margin-left:20px;
	transition: all 0.2s ease-in-out 0s;
}

.hamburgerContainer:hover{
	transform:rotate(90deg);
	transform-origin: center;
	transition: all 0.2s ease-in-out 0s;
}

.hamburger{
	font-size:48px;
	position: absolute;
	top:-62px;
	left:1px;
}

.hamburger:hover{
	color:#842F30;
	transition: color 0.4s;
}


.hamburgerContainerGone{
	width:24px;
	height: 24px;
	cursor:pointer;
	text-align:;
	text-align: center;
	float:right;
	position: relative;
	margin-left:20px;
	opacity: 0;
}

#menuoverlay{
	display: block;
	height:100%;
	position:absolute;
	top:0;
	right:0;
	margin:0px auto;
	overflow:hidden;
	opacity:0;
	transition: all 0.5s linear;
}


#menuoverlay.open{
	width:100%;
	display: block;
	height:100%;
	position: absolute;
	top:0px;
	left:0px;
	z-index: 4;
	margin:0px auto;
	overflow:hidden;
	opacity: 1;

}

#overlay{
	background: #C16F6F;
	width:100%;
	height:100%;
	margin:0px auto;
	opacity:0;
	z-index:-5;
	position: fixed;
	top:0;

}

#overlay.open{ 
	opacity:0.9;
	width:100%;
	z-index:3;
	display: inline;

}

#openmenu{
	z-index:3;
	width: 100%;
	height:300px;
	margin:0px auto;
	position: relative;
	top:10px;
	right:50px;
	text-align: right;
	transition: all 0.5s linear;
}

#openmenu ul{
	font-weight: bold;
	font-size:36px;
	font-family: Helvetica Neue,helvetica,arial,sans-serif;
}

#openmenu ul li{
list-style-type: none;
line-height: 1.8;
}

#openmenu ul li a, #openmenu ul li a:visited{
	text-decoration: none;
	list-style-type: none;
	color:#f4f4f4;
	-webkit-transition: color 0.3s;
}

#openmenu ul li a:hover{

	text-decoration: none;
	list-style-type: none;
	color:#842F30;
	opacity: 1;
	-webkit-transition: color 0.3s;
}

			/* HEADER AND NAVIGAITON */

header{
	height:50px;
	width: 100%;
	background: #fff;
	top:0px;
	line-height: 0.3;
	text-align: left;
	margin:0px;
	padding:0px;
}

header h1 {
	font-family: "HelveticaNeue-CondensedBold",helvetica,arial,sans-serif;
	color: black;
	font-size:48px;
	padding-top:20px;
	padding-left:50px;
}

header h2 {
	font-family: Helvetica Neue,helvetica,arial,sans-serif;
	color: #C16F6F;
	font-size: 24px;
	font-weight: normal;
	padding-left:50px;
}

nav{
	position: relative;
	top:-35px;
}

#navbar{
	text-decoration: none;
	list-style-type: none;
	top:75px;
	right:10px;
	padding-right:30px;
	text-align: right;
}


#navbar li{
	display: inline-block;
	text-decoration: none;
	list-style-type: none;
	font-family: Helvetica Neue,helvetica,arial,sans-serif;
	color: #B9B9B9;
	font-size: 18px;
	font-weight: normal;
	padding:10px;
}


#navbar li a, #navbar li a:visited{
	color:#B9B9B9;
	text-decoration: none;
	transition: color 0.2s;
}

 #navbar li a:hover{
	color:#842F30;
	transition: color 0.5s;
}

			/* MAIN CONTENT */

.container{
	text-align: center;
	margin:0px auto;
	height:442px;
	overflow:hidden;
}

#showcase{
	width:100%;
	text-align: center;
	margin:0;
}


#showcase img {
	width:100%;
	position: relative;
	bottom:50px;
}

.slideImage{
		display: none;
		position: relative;
}



#showcase .imageheader{
	text-align: center;
	position: absolute;
	top:200px;
	left:50%;
	 transform: translate(-50%, -50%);
	 -webkit-transform: translate(-50%, -50%);
	color:#F5F5F5;
	font-family: "HelveticaNeue-CondensedBold",helvetica,arial,sans-serif;
	font-size:64px;
	margin:auto;
}

#showcase .imagetext{
	position: absolute;
	top:350px;
	left:50%;
	transform: translate(-50%, -50%);
	 -webkit-transform: translate(-50%, -50%);
	color:#F5F5F5;
	font-family: Helvetica Neue,helvetica,arial,sans-serif;
	font-size:32px;
	font-style: italic;
	font-weight:lighter;
	margin:auto;
}



.linebreak{
	height: 2px;
	background:#D1D1D1;
	width:80%;
	margin:30px auto 30px auto;
	position: relative;
}

.main-content{
	width:100%;
	height:260px;
	position: relative;
	margin:0px auto;
	display: flex;
	justify-content: space-between;

}

.clickableContainer{
	height:100%;
	width:400px;
	margin:5px;
	background: #F1F1F1;
	text-align: center;
	transition: background-color 0.3s;
	cursor:pointer;
	position: relative;
}


.clickableContainer:hover{
	background:#D3D3D3;
	color:#F1F1F1;
	transition: background-color 0.3s;
	cursor:pointer;
}

.caption{
	height:50px;
	line-height: 1.5;
	margin:0 auto;
	color:#7B7B7B;
	font-family: "HelveticaNeue-CondensedBold",helvetica,arial,sans-serif;
	font-size:16px;
}



.contentImage{
	height:200px;
	overflow: hidden;
}

 .contentImage img{
 	width:100%;
	transition: opacity 1s;
}

.mobile-text{
	display: none;
	}


			/* ------FOOTER-----*/

footer{
	color:#B9B9B9;
	font-family: "HelveticaNeue-CondensedBold",helvetica,arial,sans-serif;
	font-size:16px;
	font-weight:lighter;
	text-align: center;
	width: 100%;
	margin:0px auto;
	height:50px;
}

footer ul li {
	display: inline-block;
	margin:left:50px;
	margin-right:50px;
}

footer ul li a {
	color:#B9B9B9;
	text-decoration: none;
	transition: color 0.2s;
}

footer ul li a:hover {
	color:#842F30;
	text-decoration: none;
	transition: color 0.3s;
}


	/* ------------------- FACILITIES PAGE ------------- */

.sub-head-block{
	width:100%;
	height:250px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	max-width:100%;
}

.sub-head-block img{
	width:100%;
	min-height: 100%;
	position: relative;
	top:0px;
	z-index:1;
}

.sub-head-block h1{
	text-align: center;
	font-family: "HelveticaNeue-CondensedBold",helvetica,arial,sans-serif;
	font-size:72px;
	color:#F5F5F5;
	z-index: 3;
	position: absolute;
	margin-left:50%;
	top:20px;
	left:-160px;
	line-height: 1.3;
	width:320px;
}

#membership-header{
	font-size:48px;
	width:322px;

}


.filter{
	background: #942D2D;
	opacity:0.5;
	width:100%;
	height:100%;
	position: absolute;
	left:0px;
	top:0px;
	z-index: 2;
}

.facilities-intro{
	height:100%;
	width:100%;
}

.facilities-intro p {
	width:75%;
	padding-top: 45px;
	margin:0px auto;
	font-family: HelveticaNeue-light,helvetica,sans-serif;
	font-weight: lighter;
	font-size:24px;
	color:#454545;
}

.gallery{
	height:100%;
	width:100%;
	padding:0px;
	margin:0px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#middle-row{
	width:100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.gallery-image-container{
	flex-grow: 1;
	width: 50%;
	min-width: 300px;
	height:300px;
	overflow: hidden;
	text-align: center;
	margin:3px;
	opacity: 1;
	transition: all 0.3s ease-in-out;
}

.gallery-image-container-third{
	flex-grow: 2;
	max-width: 100%;
	min-width: 300px;
	height:300px;
	overflow: hidden;
	text-align: center;
	background:orange;
	margin:3px;
	opacity: 1;
	transition: all 0.4s ease-in-out;
}

.gallery-image-container:hover, .gallery-image-container-third:hover{
	opacity: 0.9;
}

.gallery-header{
	position: relative;
	top:100px;
	text-align: center;
	color:white;
	font-family: HelveticaNeue-light,helvetica,sans-serif;
	font-size: 36px;
}

.gallery-text{
	position: relative;
	top:120px;
	text-align: center;
	color:white;
	font-size: 18px;
	font-family: HelveticaNeue-light,helvetica,sans-serif;
	cursor: pointer;
	padding:10px;
}

/* GALLERY IMAGE BACKGROUND*/
		/* POWERLIFTING*/
#gallery-1{
	background-image: url("../images/pexels-photo-1552252.jpeg");
	background-repeat: no-repeat;
  	background-position: bottom;
  	background-size:cover;
}
		/* MACHINE ROOM*/
#gallery-2{
	background-image: url("../images/pexels-photo-136404.jpeg");
	background-repeat: no-repeat;
  	background-position: 0px 0px;
  	background-size:cover;
}
		/* WEIGHT ROOM*/
#gallery-3{
	background-image: url("../images/pexels-photo-416717.jpeg");
	background-repeat: no-repeat;
  	background-position: left;
  	background-size:cover;
}
		/* WELLNESS*/
#gallery-4{
	background-image: url("../images/pexels-photo-917732.jpeg");
	background-repeat: no-repeat;
  	background-position: right;
  	background-size:cover;
}
		/* PT CLASSES*/
#gallery-5{
	background-image: url("../images/athlete-crossfit-exercise-685533.jpg");
	background-repeat: no-repeat;
  	background-position: 0px 0px;
  	background-size:cover;
}
		/* CROSSFIT*/
#gallery-6{
	background-image: url("../images/ropes.jpeg");
	background-repeat: no-repeat;
  	background-position: 0px 0px;
  	background-size:cover;
}
		/* BOXING*/
#gallery-7{
	background-image: url("../images/kickboxer-girl-moscow-thai-161017.jpeg");
	background-repeat: no-repeat;
  	background-position: center;
  	background-size:cover;
}


.facilities-content{
	height:100%;
	width:100%;
	background:#454545;
}

.join-today{
	width:90%;
	height:250px;
	margin: 0px auto;
	background: #F1F1F1;
	position: relative;
	top: 55px;
}

.join-today-text{
	width:70%;
	min-width: 300px;
	height: 100%;
}

.join-today-text h2{
	font-size:36px;
	color:#454545;
	text-align: center;
	position: relative;
	top:60px;
}

.join-today-text p {
	color:#454545;
	text-align: center;
	position: relative;
	top:35px;
}

.discover-more{
	width:220px;
	height:40px;
	background:#F1F1F1; 
	border:2px solid #842F30;
	font-size:16px;
	color:#842F30;
	position: relative;
	margin-top:40px;
	transition: all 0.2s ease-in-out 0s;
}

.discover-more:hover{
	background:#842F30; 
	color:#F1F1F1;

}

#join-image{
	float:right;
	height:100%;
	position: absolute;
	top:0px;
	right:0px;
}

.faq-container{
	width:50%;
	margin:100px auto 0px auto;
	padding-bottom: 40px;
}
.faq-container h3{
	color:#B9B9B9;
	text-align: center;
}

.faq-flex{
	padding:0px;
}

.faq-list-closed{
	height:50px;
	background: #842F30;
	color: #DBDBDB;
	overflow: hidden;
	margin:5px;
	text-decoration: none;
	font-weight: lighter;
	letter-spacing: 1.2;
	font-size: 18px;
	text-align: left;
	padding:0px 10px 0px 10px;
	transition: height 0.2s linear;
}

.plus-icon{
	color:white;
	font-size:24px;
	text-align: right;
	position: relative;
	top:-50px;
	right:30px;
	cursor:pointer;
}

/* MEMBERSHIP PAGE */

#membership-flex{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom:100px;

}

.membership-container{
	margin:0px 10px 60px 10px;
	height:600px;
	padding:0px;
	max-width:30%;
	min-width:300px;
	flex-basis: auto;
	align-self: flex-start;
}

.membership-image{
	height:200px;
}

#bronze-membership-img{
	background-image: url(../images/biceps.jpeg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0px 0px;
}

#silver-membership-img{
	background-image: url(../images/pexels-photo-136404.jpeg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0px 0px;
}

#gold-membership-img{
	background-image: url(../images/tyre.jpeg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0px 0px;
}

.membership-text{
	background: #F1F1F1;
	height:370px;
	padding:5px;
	color:#7B7B7B;
	text-align: left;
	line-height: 1.5;
	font-family: "HelveticaNeue-CondensedBold",helvetica,arial,sans-serif;
	position: relative;
}

.membership-color{
	width:100%;
	height:40px;
	color:#F5F5F5;
	font-family: "HelveticaNeue-CondensedBold",helvetica,arial,sans-serif;
	font-size: 18px;
	font-weight: lighter;
	line-height: 2.2;
}

#bronze-membership{
background:#674500;
}

#silver-membership{
background:#454545;
}

#gold-membership{
background:#94712D;
}

.price{
	text-align: center;
	font-size:24px;
	position: absolute;
 	bottom: 0px;
 	left:50%;
  	margin-left:-50px;
  	width:100px;
  	background:#F1F1F1;
}

.linebreak-price{
	height: 2px;
	background:#D1D1D1;
	width:80%;
	margin:0px auto;
	position: absolute;
	bottom:40px;
	left:10%;
}


/* MOBILE AND RESPONSIVE MAIN */

@media (max-width:768px){

	#navbar{
		width:50px;
		height:50px;
	}

	.hide-on-mobile{
		opacity: 0;
	}

	.container{
		height:220px;
	}

	#showcase img {
		width:100%;
		position: relative;
		bottom:25px;
	}

	#showcase .imageheader{
		opacity:0;
	}
	#showcase .imagetext{
		opacity:0;
	}


	header{
		height:100px;
		padding:0px;
		position: absolute;
		top:0px;

	}

	header h1{
		font-size: 24px;
		position: absolute;
		left:-40px;
		top:-5px;
	}


	header h2{
		font-size: 16px;
		line-height:1;
		margin:0px;
		position: absolute;
		left:-40px;
		top:45px;

	}

	.hamburgerContainer{
		float:right;
		position: absolute;
		top:35px;
		right:15px;
	}

	.hamburgerContainerGone{
		opacity: 0;
	}


	#overlay.open{
		opacity: 1;
		width:100%;
		position: absolute;
		right:0px;
	}


	.main-content{
		width:100%;
		margin:auto;
	}

	.clickableContainer{
		display: none;
	}

	.mobile-text{
		display: block;
		width:90%;
		height:100%;
		margin:5px auto 5px auto;
		font-family: HelveticaNeue-light,helvetica,sans-serif;
		font-weight: lighter;
		font-size:16px;
		color:#454545;
		text-align: left;
	}

	#mobile-image{
		max-width:100%;
	}
	.faq-container{
		margin:10px auto;
		width:100%;
		height:100%;

	}
	.faq-flex{
		width:100%;
		margin-top:40px;
	}
	.faq-list-closed{
	padding-left:20px;
	padding-right:20px;

	}


	.join-today{
		width:100%;
		height:250px;
		margin: 0px auto;
		background: #F1F1F1;
		position: relative;
		top: 42px;
	}

	.join-today-text{
		width:100%;
		min-width: 300px;
		height: 100%;
	}

	.join-today-text h2{
		font-size:36px;
		color:#454545;
		text-align: center;
		position: relative;
		top:60px;
	}

	.join-today-text p {
		color:#454545;
		text-align: center;
		position: relative;
		top:35px;
	}


	#join-image{
		display: none;
	}

	#membership-flex{
		margin:0px;
		padding:0px;
		width: 100%;
		display: inline-block; 
	}

	.membership-container{
		margin:0px;
		height:100%;
		padding:0px;
		margin-bottom:10px;
		min-width:100%;

	}
	.membership-text{
		padding-left:20px;
		height:330px;
	}
	#bronze-membership-text{
		height:200px;
	}

	.membership-image{
		max-width: 100%;
	}
	.price{
		margin:0px auto;
		bottom:22px;
		left:50%;
		margin-left:-15%;
		width:30%;
	}

	.membership-text ul{
		text-align: center;
		padding:0px;
		margin:0px;
	}

	.membership-text ul li{
		height:100%;
		list-style-type: none;
		text-align: center;
		padding:0px;
		margin:0px;
	}



	.linebreak-price{
		height: 2px;
		background:#D1D1D1;
		width:80%;
		margin:0px auto;
		position: absolute;
		bottom:40px;
		left:10%;
	}

	footer{
		display: none;
	}
}

@media only screen and (min-device-width: 1024px) 
and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) 
 and (orientation: portrait)  {


.membership-container{
	width:100%;
	max-width: 90%;
	display: flex;
	height:100%;
	flex-direction: column;
	overflow: hidden;
 }

	.membership-text{
		padding-left:20px;
		font-size:18px;
		padding-bottom: 0px;
		display: inline-block;
		width:100%;
	}

	.membership-text ul{
		text-align: center;
		padding:0px;
		margin:0px;
	}

	.membership-text ul li{
		height:100%;
		list-style-type: none;
		text-align: center;
		padding:0px;
		margin:0px;
	}

	.membership-image{
		max-width: 100%;
	}

	.price{
		margin:0px auto;
		bottom:22px;
		left:50%;
		margin-left:-10%;
		width:20%;
	}

	#bronze-membership-img{
		background-image: url(../images/biceps.jpeg);
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: 0px -100px;
	}

	#silver-membership-img{
		background-image: url(../images/pexels-photo-136404.jpeg);
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: 0px -200px;
	}

	#gold-membership-img{
		background-image: url(../images/tyre.jpeg);
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: 0px 0px;
	}

	#bronze-membership-text{
		height:200px;
	}

	.main-content{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		height:100%;
	}

	.clickableContainer{
		min-width:100%;
	}

	.contentImage{
		height:300px;
	}

	.caption{
		height:40px;
		font-size: 24px;
		line-height: 0.7;
	}
	footer{
		position: relative;
		bottom:20px;
	}


}
