html, body {
	margin:0;
	height:100%;
	background: #f4f4f4;
	font-family:helvetica,arial,sans-serif;

}

header{
	background: #fff;
}

h1{
	padding-left:16px;
	padding-top: 16px;
	color: #135895;
	font-weight: lighter;
}




#mainNav{
	height:48px;
	background: #8C6D31;
	border-bottom: 0px solid #ccc;
	line-height: 48px;
	padding: 0 16px;
	box-sizing: border-box;



}

#mainNav a, #mainNav a:visited {
	text-decoration: none;
	color:#fff;

}


#mainNav a:hover {
	text-decoration: none;
	color:red;

}

#menu{
	display:inline-block;
	list-style: none;
	margin:0;
	padding:0;
	font-weight: lighter;
	float:left;

}



#menu li {
	display:inline-block;
}

#menu li a{
	text-decoration: none;
	color:#404040;
	padding:0 10px;
}

#mobileButton{
	float:right;
	font-size: 30px;
	cursor:pointer;
	display:none;

}

#menu li.close {
		display:none;
	}


.buttonPress{
	margin:0px;
	height: 80px;
	width: 20%;
	background: gray;
	cursor: pointer;
	color: black;
	transition-duration: 500ms;
	margin:10px 0px 0px 0px;
	float:left;
	z-index: 1;


}

.buttonPress:hover{

	transform: scaleX(5);
	transform-origin: left;
	transition-duration: 500ms;
}

.buttons{
	margin:0px;
	padding:0px;
	display:inline-block;
	text-align: left;
	width:100%;

}

#showcase{
	width: 100%;
	height: 400px;
	overflow: hidden;
	text-align: center;
}


#showcase #slide .imageHolder{
	width:100%;
	height:auto;
	position: absolute;
}


#showcase #slide .imageHolder img{
	width:100%;
	height:auto;
	overflow: hidden;
}

#showcase #slide .imageHolder .captionHeader{
	width:100%;
	height:auto;
	display:none;
}

#showcase #slide .imageHolder .captionText{
	width:100%;
	height:auto;
	display:none;
}



@media (max-width:768px){
	#menu{  display:block;
			position:absolute;
			top:0;
			right:0;
			background: #fff;
			color:gray;
			width:160px;
			height:100%;
			z-index: 3;
			transform:translateX(300px);
			text-align: right;
			padding-right: 24px;

		}

	#menu.openbar a {
		color:gray;
	}

	#menu.openbar{
		transform:translateX(0px);
		opacity:1;
		z-index:3;
		transition: all 300ms;
		position:fixed;

	}

	#menu li {
		list-style: none;
		display: inline-block;
		text-decoration: none;
	}

	#menu li.close {
		text-align:right;
		display:block;
		cursor:pointer;
	}

	#overlay{
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,0.4);
	opacity: 0;
	z-index: -1;
	transition: opacity 300ms linear}

	#overlay.open{
		z-index:1;
		opacity:1;

	}

	#mobileButton{
	float:right;
	font-size: 30px;
	cursor:pointer;
	display:inline-block;
	color:#fff;}

	h1{
		font-size:20px;
	}



}








